<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="baskets">


	<select id="getList" resultType="com.one.project.baskets.dto.BasketsDto">
		SELECT p_name, p_price, b_num,u_name, gender
		FROM baskets
		
	</select>
	
	<insert id="insert" parameterType="com.one.project.baskets.dto.BasketsDto">
		INSERT INTO baskets
		(p_name,p_price,b_num,u_name, gender)
		VALUES(#{p_name}, #{p_price}, b_seq.NEXTVAL, #{u_name}, #{gender})
	</insert>
	
	<delete id="delete" parameterType="com.one.project.baskets.dto.BasketsDto">
		DELETE FROM baskets
		WHERE b_num=#{b_num}
	</delete>
	
	<delete id="pay" parameterType="com.one.project.baskets.dto.BasketsDto">
		DELETE FROM baskets
		
	</delete>	
	<insert id="move" parameterType="com.one.project.baskets.dto.BasketsDto">
		INSERT INTO master SELECT * FROM baskets
	</insert>

	<update id="plusMan" parameterType="int">
		UPDATE reco
		SET man=man+1
		WHERE p_name=#{p_name}
	</update>
</mapper>
