<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="master">


	<select id="getList"
		resultType="com.one.project.master.dto.MasterDto">
		SELECT u_name,p_name, p_price, gender, b_num
		FROM master
		ORDER BY u_name

	</select>

	<delete id="delete2"
		parameterType="com.one.project.master.dto.MasterDto">
		DELETE FROM master
		WHERE b_num=#{b_num}
	</delete>

	<delete id="clear"
		parameterType="com.one.project.master.dto.MasterDto">
		DELETE FROM master
	</delete>

</mapper>