<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="product">
<insert id="insert" parameterType="productDto">
        INSERT INTO PRODUCTS
        (pro_num, pro_name, pro_price, man_sell, woman_sell, remain_stock, imagepath)
        VALUES(products_seq.NEXTVAL, #{pro_name}, #{pro_price}, 0, 0, #{remain_stock} #{imagePath})
    </insert>


</mapper>