<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="product">

	<insert id="insert2" parameterType="productDto">
		INSERT INTO PRODUCTS
		(pro_num, pro_name, pro_price, man_sell, woman_sell, remain_stock, imagepath)
		VALUES(pro_num_seq.NEXTVAL, #{pro_name}, #{pro_price}, 0, 0, #{remain_stock} #{imagePath})
	</insert>
	
	<select id="getList" parameterType="productDto" resultType="productDto">
		SELECT *
		FROM products
		ORDER BY pro_num DESC
	</select>
	
	<update id="update" parameterType="productDto">
		UPDATE PRODUCTS
		SET pro_name=#{pro_name}, pro_price=#{pro_price}, remain_stock=#{remain_stock}
		WHERE pro_num=#{num}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM PRODUCTS
		WHERE pro_num=#{num}
	</delete>

</mapper>
